body {
  font-family: 'Roboto', sans-serif;
}

/* mix */
.list-inline {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

section {
  padding: 35px 0;
}

.bg_grey {
  background-color: #f2f5f9;
}

h2 {
  color: #031b4e;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}

a:focus, button:focus, input:focus {
  text-decoration: none;
  outline: none;
}

.deploy_box img, .features_box img {
  height: 38px;
}

.deploy_box h4, .features_box h4 {
  font-size: 18px;
  color: #031b4e;
  font-weight: 500;
  margin-top: 15px;
}

.deploy_box p, .features_box p {
  color: rgba(3, 27, 78, 0.6);
  font-weight: 500;
}

/* navbar */
.header_top {
  line-height: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
}

.logo img {
  height: 22px;
}

nav li a {
  color: #031b4f;
  margin-left: 8px;
  font-weight: 500;
  font-size: 13px;
}

.btn_signup {
  color: #006aff;
  border: 1px solid #006aff;
  font-weight: 500;
  font-size: 13px;
}

.burger {
  color: #006aff;
  display: none;
  background-color: transparent;
}

.burger:hover {
  color: #006aff;
}

.burger i {
  font-size: 18px;
}
/* fine navbar */
/* hero */
.header_bottom {
  background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  padding: 60px 0;
}

.hero_left {
  color: white;
  padding-right: 20px;
}

h1 {
  font-size: 58px;
  font-weight: 500;
}

.hero_left p {
  color: lightgrey;
  line-height: 150%;
  font-size: 20px;
}

.hero_right {
  background-color: white;
  padding: 15px 20px 30px;
  border-radius: 5px;
}

.hero_right h3 {
  color: #031b4e;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.hero_right p {
  font-size: 28px;
  text-align: center;
  color: #006aff;
  font-weight: 500;
}

.hero_right input {
  width: 100%;
  height: 48px;
  margin-bottom: 9px;
  border: 1px solid #e5e8ed;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.hero_right .btn {
  width: 100%;
  font-size: 16px;
  margin-bottom: 7px;
}

.btn_create {
  background-color: #579aff;
  color: white;
}

.btn_google {
  color: #666666;
  background-image: url('../img/google-icon.png');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: left center;
  box-shadow: 1px 1px lightgrey;
}

.hero_right small {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-weight: 500;
  color: #031b4e;
}

#special_link {
  text-decoration: underline;
  color: #006aff;
}
/* fine hero */
/* sezione loghi */
#logos h3 {
  color: #5b6987;
  font-size: 15px;
}

.partners {
  margin: 0 auto;
}

.partners img {
  width: calc((100% / 6) - 4px);
  padding: 0 10px;
}

#logos a {
  display: inline-block;
  color: #006aff;
  font-weight: 500;
  margin-top: 10px;
}
/* fine sezione loghi */
/* sezione deploy */
#deploy :not(.deploy_box) > p {
  color: #5b6987;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 40px;
}

.vertical_list {
  color: rgba(3, 27, 78, 0.6);
  font-weight: 500;
  font-size: 16px;
}

.vertical_list li {
  border-left: 1px solid rgba(3, 27, 78, 0.6);
  padding: 10px;
}

.deploy_box {
  height: 180px;
  padding-right: 15px;
}
/* fine sezione deploy */
/* sezione designed */
#designed p {
  color: #5b6987;
  font-size: 17px;
  font-weight: 500;
  margin: 25px 0 60px;
  padding: 0 30px;
}

#designed small {
  color: #031b4e;
  font-size: 14px;
  font-weight: 500;
}

.carosel img {
  width: 100%;
  margin-bottom: 10px;
}

.carosel_left {
  font-size: 40px;
  color: grey;
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);
}

.carosel_right {
  font-size: 40px;
  position: absolute;
  left: 102%;
  top: 50%;
  transform: translateY(-50%);
}

.bullets {
  margin-top: 15px;
  color: #0069ff;
  font-size: 12px;
}

.bullets i {
  padding: 0 3px;
}
/* fine sezione designed */
/* sezione features */
.features_box a {
  display: inline-block;
  font-weight: 500;
  color: #006aff;
  margin-bottom: 20px;
}

/* fine sezione features */

/* mediaquery */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 35px;
  }

  .partners {
    max-width: 400px;
  }

  .partners img {
    width: calc((100% / 2) - 4px);
  }

  #deploy .vertical_list {
    margin-bottom: 25px;
  }

  .deploy_box {
    padding: 0;
    height: auto;
    margin-bottom: 20px;
  }

  .carosel_left, .carosel_right {
    display: none;
  }
}
